# asgiref==3.6.0 # req-auto-cleaner: commented for deletion
Django==4.2.1
django-colorfield==0.8.0 # req-auto-cleaner: check package usage manually # req-auto-cleaner: check package usage manually
django-widget-tweaks==1.4.12 # req-auto-cleaner: check package usage manually # req-auto-cleaner: check package usage manually
# Pillow==9.5.0 # req-auto-cleaner: commented for deletion
# sqlparse==0.4.4 # req-auto-cleaner: commented for deletion
systemd-python==234 # req-auto-cleaner: check package usage manually # req-auto-cleaner: check package usage manually
virtualenv-clone==0.3.0 # req-auto-cleaner: check package usage manually # req-auto-cleaner: check package usage manually
