argon2-cffi==21.3.0 # req-auto-cleaner: check package usage manually
argon2-cffi-bindings==21.2.0 # req-auto-cleaner: check package usage manually
# arrow==1.2.3 # req-auto-cleaner: commented for deletion
# asgiref==3.6.0 # req-auto-cleaner: commented for deletion
# asttokens==2.2.1 # req-auto-cleaner: commented for deletion
# attrs==23.1.0 # req-auto-cleaner: commented for deletion
# autopep8==2.0.2 # req-auto-cleaner: commented for deletion
# backcall==0.2.0 # req-auto-cleaner: commented for deletion
# beautifulsoup4==4.12.2 # req-auto-cleaner: commented for deletion
# bleach==6.0.0 # req-auto-cleaner: commented for deletion
# cffi==1.15.1 # req-auto-cleaner: commented for deletion
choix==0.3.5 # req-auto-cleaner: commented for deletion
# comm==0.1.3 # req-auto-cleaner: commented for deletion
# debugpy==1.6.7 # req-auto-cleaner: commented for deletion
# decorator==5.1.1 # req-auto-cleaner: commented for deletion
# defusedxml==0.7.1 # req-auto-cleaner: commented for deletion
Django==4.2.1
django-colorfield==0.8.0 # req-auto-cleaner: check package usage manually
django-widget-tweaks==1.4.12 # req-auto-cleaner: check package usage manually
# executing==1.2.0 # req-auto-cleaner: commented for deletion
# fastjsonschema==2.17.1 # req-auto-cleaner: commented for deletion
# fqdn==1.5.1 # req-auto-cleaner: commented for deletion
# idna==3.4 # req-auto-cleaner: commented for deletion
# ipykernel==6.23.1 # req-auto-cleaner: commented for deletion
# ipython==8.13.2 # req-auto-cleaner: commented for deletion
ipython-genutils==0.2.0 # req-auto-cleaner: check package usage manually
# ipywidgets==8.0.6 # req-auto-cleaner: commented for deletion
# isoduration==20.11.0 # req-auto-cleaner: commented for deletion
# jedi==0.18.2 # req-auto-cleaner: commented for deletion
# Jinja2==3.1.2 # req-auto-cleaner: commented for deletion
# jsonpointer==2.3 # req-auto-cleaner: commented for deletion
# jsonschema==4.17.3 # req-auto-cleaner: commented for deletion
# jupyter==1.0.0 # req-auto-cleaner: commented for deletion
jupyter-console==6.6.3 # req-auto-cleaner: check package usage manually
jupyter-events==0.6.3 # req-auto-cleaner: check package usage manually
# jupyter_client==8.2.0 # req-auto-cleaner: commented for deletion
# jupyter_core==5.3.0 # req-auto-cleaner: commented for deletion
# jupyter_server==2.5.0 # req-auto-cleaner: commented for deletion
# jupyter_server_terminals==0.4.4 # req-auto-cleaner: commented for deletion
jupyterlab-pygments==0.2.2 # req-auto-cleaner: check package usage manually
jupyterlab-widgets==3.0.7 # req-auto-cleaner: check package usage manually
# MarkupSafe==2.1.2 # req-auto-cleaner: commented for deletion
matplotlib-inline==0.1.6 # req-auto-cleaner: check package usage manually
# mistune==2.0.5 # req-auto-cleaner: commented for deletion
# nbclassic==1.0.0 # req-auto-cleaner: commented for deletion
# nbclient==0.8.0 # req-auto-cleaner: commented for deletion
# nbconvert==7.4.0 # req-auto-cleaner: commented for deletion
# nbformat==5.8.0 # req-auto-cleaner: commented for deletion
nest-asyncio==1.5.6 # req-auto-cleaner: check package usage manually
# notebook==6.5.4 # req-auto-cleaner: commented for deletion
# notebook_shim==0.2.3 # req-auto-cleaner: commented for deletion
numpy==1.25.0
# packaging==23.1 # req-auto-cleaner: commented for deletion
# pandocfilters==1.5.0 # req-auto-cleaner: commented for deletion
# parso==0.8.3 # req-auto-cleaner: commented for deletion
# pexpect==4.8.0 # req-auto-cleaner: commented for deletion
# pickleshare==0.7.5 # req-auto-cleaner: commented for deletion
# Pillow==9.5.0 # req-auto-cleaner: commented for deletion
# platformdirs==3.5.1 # req-auto-cleaner: commented for deletion
prometheus-client==0.17.0 # req-auto-cleaner: check package usage manually
prompt-toolkit==3.0.38 # req-auto-cleaner: check package usage manually
# psutil==5.9.5 # req-auto-cleaner: commented for deletion
# ptyprocess==0.7.0 # req-auto-cleaner: commented for deletion
pure-eval==0.2.2 # req-auto-cleaner: check package usage manually
# pycodestyle==2.10.0 # req-auto-cleaner: commented for deletion
# pycparser==2.21 # req-auto-cleaner: commented for deletion
# Pygments==2.15.1 # req-auto-cleaner: commented for deletion
# pyrsistent==0.19.3 # req-auto-cleaner: commented for deletion
python-dateutil==2.8.2 # req-auto-cleaner: check package usage manually
python-json-logger==2.0.7 # req-auto-cleaner: check package usage manually
# PyYAML==6.0 # req-auto-cleaner: commented for deletion
# pyzmq==25.0.2 # req-auto-cleaner: commented for deletion
# qtconsole==5.4.3 # req-auto-cleaner: commented for deletion
# QtPy==2.3.1 # req-auto-cleaner: commented for deletion
rfc3339-validator==0.1.4 # req-auto-cleaner: check package usage manually
rfc3986-validator==0.1.1 # req-auto-cleaner: check package usage manually
# scipy==1.10.1 # req-auto-cleaner: commented for deletion
# Send2Trash==1.8.2 # req-auto-cleaner: commented for deletion
# six==1.16.0 # req-auto-cleaner: commented for deletion
# sniffio==1.3.0 # req-auto-cleaner: commented for deletion
# soupsieve==2.4.1 # req-auto-cleaner: commented for deletion
# sqlparse==0.4.4 # req-auto-cleaner: commented for deletion
stack-data==0.6.2 # req-auto-cleaner: check package usage manually
systemd-python==234 # req-auto-cleaner: check package usage manually
# terminado==0.17.1 # req-auto-cleaner: commented for deletion
# tinycss2==1.2.1 # req-auto-cleaner: commented for deletion
# tomli==2.0.1 # req-auto-cleaner: commented for deletion
# tornado==6.3.2 # req-auto-cleaner: commented for deletion
# traitlets==5.9.0 # req-auto-cleaner: commented for deletion
uri-template==1.2.0 # req-auto-cleaner: check package usage manually
virtualenv-clone==0.3.0 # req-auto-cleaner: check package usage manually
# wcwidth==0.2.6 # req-auto-cleaner: commented for deletion
# webcolors==1.13 # req-auto-cleaner: commented for deletion
# webencodings==0.5.1 # req-auto-cleaner: commented for deletion
websocket-client==1.5.2 # req-auto-cleaner: check package usage manually
# widgetsnbextension==4.0.7 # req-auto-cleaner: commented for deletion
