{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Rubric Assessment{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="{% static 'css/rubric_assessment.css' %}" rel="stylesheet">




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content align-items-center">
            <div class="modal-title text-center">
                <hr>
                <h4> Timer will start when you click on "READY !"
                    <hr>
                </h4>
            </div>
            <div class="modal-body">

                <input type="submit" id="modal-btn" class="confirm-btn btn btn-google btn-lg rounded "
                    data-dismiss="modal" value="READY !"
                    onclick="sendReady();">
                

            </div>
            <div class="modal-footer">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="align-items-center text-center">
        <h1 class="h1 mb-4 mt-3 text-gray-900 font-weight-bold">
            Rubric Assessment
        </h1>

        <div class="card shadow text-gray-800 h3" id="explanation">
            <div class="card-header">
                <h4 class="h4 m-0 font-weight-bold text-primary">
                    Please README !
                </h4>
            </div>

            <p>
            <div class="my-1"></div>
            Rubric Assessment are very simple, akin to a teacher grading a student's work.<br>
            In this assessment, your task is to evaluate the color value displayed,<br>
            with 0 indicating the brightest white and 255 representing the darkest black shade.
            </p>
            <p>
                Take your time during the evaluation and do not rush it,
                this is not a speed race. <br>
                However, please avoid engaging in other activities,
                as time is an important factor in this study. <br>
                If you encounter any issues or take a break during one of your assessments,
                simply refresh the page and start again, the timer will reset.
            </p>
            And again thank you for your participation!
            <div class="my-1"></div>

        </div>
    </div>
    <div class="my-4"></div>
    <div class="card shadow align-items-center row">

        <div>
            <div class="box pink rounded" style="background-color:{{color_to_test}}"></div>
        </div>


        <div>
            <form method="post" class="text-center user">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                <div class="form-group text-center">
                    <label class="mr-sm-1 h3" for="{{ field.id_for_label }}">What shade of grey is it ? ( 0 - 255)
                    </label>
                    {% render_field form.color_judgement|append_attr:"id:numberField" class='text-gray-800 text-center form-control form-control-user' %}
                    <!-- {{ field | add_class:'text-gray-800 text-center form-control form-control-user' }} -->
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-google btn-lg rounded confirm-btn" value="Confirm">

            </form>

        </div>
        <div class="my-2"></div>
    </div>

</div>
<script>
    $(window).on('load', function () {
        $('#myModal').modal({ backdrop: 'static', keyboard: false, show: true });
    });
    function sendReady() {
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                ready: "start",
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function () {
                console.log("post is a success")
            },
            error: function (xhr, errmsg, err) {
                location.reload();
            }
        });
    }
</script>


{% endblock %}