body {
    margin: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: center;
    background-color: #fff;
    padding-bottom: 1em;
}

.wrapper {
    display: inline-flex;
    background: #fff;
    height: 100px;
    width: 37rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 0.26rem;
    left: 0.25rem;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#id_type_of_test_0:checked:checked~.id_type_of_test_0,
#id_type_of_test_1:checked:checked~.id_type_of_test_1,
#id_type_of_test_2:checked:checked~.id_type_of_test_2 {
    border-color: #0069d9;
    background: #0069d9;
}

#id_type_of_test_0:checked:checked~.id_type_of_test_0 .dot,
#id_type_of_test_1:checked:checked~.id_type_of_test_1 .dot,
#id_type_of_test_2:checked:checked~.id_type_of_test_2 .dot {
    background: #fff;
}

#id_type_of_test_0:checked:checked~.id_type_of_test_0 .dot::before,
#id_type_of_test_1:checked:checked~.id_type_of_test_1 .dot::before,
#id_type_of_test_2:checked:checked~.id_type_of_test_2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    font-size: 1rem;
    color: #808080;
}

#id_type_of_test_0:checked:checked~.id_type_of_test_0 span,
#id_type_of_test_1:checked:checked~.id_type_of_test_1 span,
#id_type_of_test_2:checked:checked~.id_type_of_test_2 span {
    color: #fff;
}


#cute-dogo {
    max-width: 8em;
    height: auto;

}


#form-container {
    margin-top: 0rem !important;
    margin-right: 15rem !important;
    margin-left: 15rem !important;
}

#Start-test {
    padding: 1.4rem;
    border-radius: 10rem !important;

}

#Start-test:hover {
    color: #fff;
    background-color: #c8291b;
    border-color: #8e8888;
}

#Start-test:active {
    color: #c8291b;
    background-color: #fff;
    border-color: #000000;
}